body {
    width: 100%;
    min-height: 100vh;
    background-size: cover;   
    overflow-x: hidden; /* Prevent horizontal scrollbars */
}

.navbar {
    height: 10%;
    font-weight: bold;
    font-size: 150%;
    background-color: #e3f2fd;
}

.nav-item {
    border-radius: 8px;
    background-color: #f5c3d7;
}

.logo-halfpage {
    position: fixed;
    top: 10%;
    left: 0;
    width: 50%;
    height: 90%; /* Adjust as needed */
    overflow: hidden; /* Hide overflowing content */
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
